.blob1{
  position:fixed;
  top:0px;
  right:0px;
  width: 297px;
  height: 235px;
  z-index: -1;
}

.blob2{
  position:fixed;
  bottom:0px;
  left:0px;
  width: 241px;
height: 182px;
z-index: -1;

}

.blob2-start-page{
position: fixed;
width: 297px;
height: 235px;
left:0px;
bottom:0px;
overflow: hidden;
z-index: -1;
}

.settings-icon {
  position: fixed;
  right:10px;
  bottom:20px;
  width: 30px;
}


.settings-icon:hover {
  animation: spin 1s ease 1;
  cursor: pointer;
}

@keyframes spin {
  from { transform: rotate(0turn) }
  to {transform: rotate(1turn) }
}

@media only screen and (max-width: 600px) {
  .settings-icon{
    width: 20px;
    right:5px;
  bottom:10px;
  }  
}